<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header class="header" th:fragment="header">
    <div class="header__Mnav animate__animated animate__slideInLeft">
        <div class="trigger">
            <button class="mobile close"><i class="fas fa-times fa-lg"></i></button>
        </div>
        <nav class="Mmenu">
            <ul class="Mmenu__main">
                <li onclick="showHide(this)">
                    <span>메뉴소개</span>
                    <span><i class="fas fa-chevron-right"></i></span>
                    <ul class="Mlist__drop animate__animated animate__fadeIn">
                        <li><a href="#">스페셜&할인팩</a></li>
                        <li><a href="#">프리미엄</a></li>
                        <li><a href="#">와퍼</a></li>
                        <li><a href="#">주니어&버거</a></li>
                        <li><a href="#">올데이킹&치킨버거</a></li>
                        <li><a href="#">사이드</a></li>
                        <li><a href="#">음료&디저트</a></li>
                        <li><a href="#">독퍼</a></li>
                    </ul>
                </li>
                <li onclick="showHide(this)">
                    <span>매장소개</span>
                    <span><i class="fas fa-chevron-right"></i></span>
                    <ul class="Mlist__drop animate__animated animate__fadeIn">
                        <li><a href="#">매장찾기</a></li>
                    </ul>
                </li>
                <li onclick="showHide(this)">
                    <span>이벤트</span>
                    <span><i class="fas fa-chevron-right"></i></span>
                    <ul class="Mlist__drop animate__animated animate__fadeIn">
                        <li><a href="#">이벤트</a></li>
                        <li><a href="#">신규매장</a></li>
                    </ul>
                </li>
                <li onclick="showHide(this)">
                    <span>브랜드스토리</span>
                    <span><i class="fas fa-chevron-right"></i></span>
                    <ul class="Mlist__drop animate__animated animate__fadeIn">
                        <li><a href="#">버거킹 스토리</a></li>
                        <li><a href="#">WHY 버거킹</a></li>
                        <li><a href="#">버거킹 NEWS</a></li>
                    </ul>
                </li>
                <li onclick="showHide(this)">
                    <span>고객센터</span>
                    <span><i class="fas fa-chevron-right"></i></span>
                    <ul class="Mlist__drop animate__animated animate__fadeIn">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">버거킹 앱이용안내</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__nav">
        <div class="trigger">
            <button class="mobile hamburger"><i class="fas fa-bars fa-lg"></i></button>
        </div>
        <h1>
            <a href="/"><img src="/img/logo.gif" alt="로고" class="logo"></a>
        </h1>
        <div class="menu">
            <nav>
                <ul class="menu__main">
                    <li class="main__list">
                        <a href="#">메뉴소개 <i class="fas fa-caret-down"></i></a>
                        <div>
                            <ul class="list__drop animate__animated animate__fadeIn">
                                <li><a href="#">스페셜&할인팩</a></li>
                                <li><a href="#">프리미엄</a></li>
                                <li><a href="#">와퍼</a></li>
                                <li><a href="#">주니어&버거</a></li>
                                <li><a href="#">올데이킹&치킨버거</a></li>
                                <li><a href="#">사이드</a></li>
                                <li><a href="#">음료&디저트</a></li>
                                <li><a href="#">독퍼</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="main__list">
                        <a href="#">매장소개 <i class="fas fa-caret-down"></i></a>
                        <div>
                            <ul class="list__drop animate__animated animate__fadeIn">
                                <li><a href="#">매장찾기</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="main__list">
                        <a href="#">이벤트 <i class="fas fa-caret-down"></i></a>
                        <div>
                            <ul class="list__drop animate__animated animate__fadeIn">
                                <li><a href="#">이벤트</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="main__list">
                        <a href="#">브랜드스토리 <i class="fas fa-caret-down"></i></a>
                        <div>
                            <ul class="list__drop animate__animated animate__fadeIn">
                                <li><a href="#">버거킹 스토리</a></li>
                                <li><a href="#">WHY 버거킹</a></li>
                                <li><a href="#">버거킹 NEWS</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="delivery-order">
                <button id="openModal" class="button button--shape-red">로그인</button>
            </div>


        </div>
    </div>
    <div class="header__panel"></div>
</header>
</html>