<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.gloryBooks.dao.CartItemDao">

    <insert id="addToCart" parameterType="CartItem">
        <!-- 장바구니에 상품 추가하는 쿼리 -->
        INSERT INTO cartitem (cartitem_id, quantity, cart_id, book_id)
        VALUES (#{cartitemId}, #{quantity}, #{cartId}, #{bookId})
    </insert>

</mapper>